.App {
  text-align: center;
  text-decoration: none;
  list-style: none;

}

.filmbox-container {
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.filmbox {
  padding: 50px;
  width: 25rem;
  border: solid;
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}


